// 常量
  // 长度
    $main_width:1180px;
    $mobile:768px;
    $mobile_style:screen and (max-width: $mobile);
  // 颜色
    $white:#fff;
    $light_white:#cbcbcb;
    $dark_white:#f9f9f9;
    $text:#333;
    $light_text:#666;
    $light_black:#999;
    $black:#444;
    $border:#e5e5e5;
    $blue:#327FFF;
    $light_blue:#75b7f3;
    $blue_border:#b1c4e5;
    $red:#ea2c2c;
    $light_red:#e65c65;
    $orange:#ff721f;
    $green:#5cbe53;
    $green_border:#c2ee93;
    $green_bg:#f1ffe2;
    $fail:#f1624b;
    $fail_border:#fec6ad;
    $fail_bg:#ffedda;
    $purple: #A53ECB;
// 进度条(横向或圆形)
  // *$type:1=>'横向';2=>'圆形',noColor=>'初始颜色', yesColor=>'过去的颜色'*
  @mixin progress($type:2, $height: 5, $noColor: #ccc, $yesColor: #ffb386, $width:76, $top: 0.5, $right: 1, $paddingTop: 6, $border: 20) {
    @if ($type == 2) {
      .wrap,.circle,.percent{  
        position: absolute;  
        width: #{$width}px;  
        height: #{$width}px;  
        border-radius: 50%;  
      }  
      .wrap{  
        top: #{$top}rem;  
        right: #{$right}rem;
        background-color: #ffb386;  
      }  
      .circle{  
        box-sizing: border-box;  
        border:#{$border}px solid #ffb386;  
        clip:rect(0,#{$width}px,#{$width}px,#{$width / 2}px);  
      }  
      .clip-auto{  
        clip:rect(auto, auto, auto, auto);  
      }  
      .percent{  
        box-sizing: border-box;  
        top:-#{$border}px;  
        left:-#{$border}px;  
      }  
      .left11{  
        transition:transform ease;  
        border:#{$border}px solid #ccc;  
        clip: rect(0,38px,#{$width}px,0);  
      }  
      .right11{  
        border:#{$border}px solid #ccc;  
        clip: rect(0,#{$width}px,#{$width}px,#{$width / 2}px);  
      }  
      .wth0{  
        width:0;  
      }  
      .num{  
        position: absolute;
        box-sizing: border-box;
        width: #{$width - 10}px;
        height: #{$width - 10}px;
        line-height: #{$width - 10}px;
        text-align: center;
        font-size: 14px;
        left: 5px;
        top: 5px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 1;
      }
    } @else {
      .progress_info1{
        position: relative;
        padding:#{$paddingTop}px 0;
        .progress_box1{
          position: relative;
          overflow:hidden;
          border-radius:#{$height}px;
          height:#{$height}px;
          background: #ccc;
          .box1{
            @include position;
            background: linear-gradient(to right, $noColor 20%, $yesColor);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$noColor', endColorstr='$yesColor',GradientType=1 );
          }
        }
      }
    }
  }
// flex
  @mixin flex($h:flex-start,$v:center,$direction:row,$wrap:nowrap) {
    display: flex;
    justify-content: $h;
    align-items: $v;
    flex-direction: $direction;
    flex-wrap: $wrap;
    @if ($h == space-between) {
      text-align: justify;
      text-align-last:justify;
      & > *{
        text-align: left;
        text-align-last:auto
      }
    }
    & > *{
      display: inline-block;
      vertical-align:middle;
    }
    & *{
      // text-align: auto;
      // text-align-last:auto
    }
  }
// pos_value
  @mixin position($top:0,$left:0,$bottom:0,$right:0) {
    position: absolute;
    top: #{$top}px;
    right: #{$right}px;
    bottom: #{$bottom}px;
    left: #{$left}px;
  }
// block
  @mixin block($value:20,$radius:0) {
    display: inline-block;
    width: #{$value}px;
    height: #{$value}px;
    line-height: #{$value}px;
    border-radius: $radius
  }
// linear_background
  // @mixin linear_background($color1,$color12$r:h){
  //   @if $r == h {
  //     background: linear-gradient(to right, $color1 20%, $color2);
  //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=1 );
  //   } @else {
  //     background: linear-gradient(to bottom, $color1 20%, $color2);
  //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=0 );
  //   }
  // }
// 省略
  @mixin ellipsis($line:0) {
    @if $line != 0 {
      display: -webkit-box;
      -webkit-line-clamp: $line;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      overflow: hidden;
    } @else {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
// 三角形
  @mixin triangle($type:right,$color:#dbdee5,$value:10) {
    display: inline-block;
    width: 0;
    height: 0;
    @if $type == 'right' or $type == 'left'{
      border-top: #{$value/1.8}px solid transparent;
      border-bottom: #{$value/1.8}px solid transparent;
      @if $type == 'right'{
        border-left: #{$value}px solid $color;
      } @else if $type == 'left'{
        border-right: #{$value}px solid $color;
      }
    } @else if $type == 'top' or $type == 'bottom'{
      border-left: #{$value/1.8}px solid transparent;
      border-right: #{$value/1.8}px solid transparent;
      @if $type == 'top'{
        border-bottom: #{$value}px solid $color;
      } @else if $type == 'bottom'{
        border-top: #{$value}px solid $color;
      }
    }
  }
// 箭头
  @mixin arrow($type:right,$color:#dbdee5,$value:2) {
    border: #{$value}px solid $color;
    border-top: none;
    border-right: none;
    @if $type == 'left'{
      transform: rotate(45deg);
    } @else if $type == 'right'{
      transform: rotate(-135deg);
    } @else if $type == 'up'{
      transform: rotate(135deg);
    } @else if $type == 'down'{
      transform: rotate(-45deg);
    }
  }
// 块状排列
  @mixin row($v:3,$gap:2%){
    display: flex;
    flex-wrap: wrap;
    .item{
      width: 100%/$v - ($gap * ($v - 1) / $v);
      &:not(:nth-child(#{$v}n)){
        margin-right: $gap;
      }
      display: inline-block;
      vertical-align:middle;
    }
  }
// 对号
  @mixin right($w:8,$h:5,$color:$white){
    position: absolute;
    width: #{$w}px;
    height: #{$h}px;
    top: calc(50% - #{$h/2 + 2}px);
    left: calc(50% - #{$w/2}px);
    border: solid $color;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg)
  }
// bg
  @mixin bg($w:1920,$h:580px,$color:$white){
    position: relative;
    overflow: hidden;
    background: $color;
    padding-top:$h;
    .bg,img{
      position: absolute;
      top: 0;
      left: calc(50% - #{$w/2}px);
      width: #{$w}px;
      height: $h
    }
  }
// button
  @mixin button($color:$blue,$type:bg,$color2:$white){
    border:1px solid $color;
    @if $type == border {
      color:$color
    } @else {
      background: $color;
      color:$color2
    }
  }
// input
  @mixin input{
    position:relative;
    font-size: 16px;
    margin-bottom:30px;
    line-height:2;
    &.disabled{
      background: #f7f8fa;
      span.form_icon{
        color: #ddd
      }
    }
    span{
      &.form_title,&.form_icon,&.tips{
        @include position(9,0,5,0)
        right:auto;
      }
      &.form_title{
        width:70px;
        left:20px;
        @include mobile_hide
      }
      &.form_icon{
        top:10px;
        bottom:10px;
        left:90px;
        padding: 0 15px;
        color:$red;
        border-right:1px solid $border;
        @include mobile_hide
      }
      &.tips{
        padding-left:25px;
        font-size: 12px;
        color:$red;
        top:13px;
        left:110%;
        width:300px;
        display: none;
        &:before{
          @include position(2,0,auto,auto)
          @include block(20)
          background: #e65c65;
          color: $white;
          text-align: center;
          font-size: 16px;
          border-radius:5px;
          content:'!'
        }
        &:after{
          content:attr(tips)
        }
      }
    }
    input,.sel,.select{
      height:50px;
      line-height:32px;
      border: 1px solid $blue_border;
      border-radius: 5px;
      width:100%;
      padding:8px;
      padding-left:140px;
      font-size: 16px;
      &:focus{
        border-color:$blue
      }
      &[data-status='invalid'],&[data-status='null'],&[data-status='error'],&[data-status='success']{
        border-color:$red;
        & ~ span.tips{
          display:block
        }
      }
      &[data-status='error'] ~ span.tips:after{
        content:attr(error)
      }
      &[data-status='invalid'] ~ span.tips:after{
        content:attr(title)
      }
      &[data-status='success']{
        border-color:$blue_border;
        & ~ span.tips{
          color:green;
          &:before{
            background:green;
            content:'\2713'
          }
          &:after{
            content:attr(success)
          }
        }
      }
      @media screen and (max-width: $mobile) {
        padding:0.3rem;
        border-color:$border;
        height:48px;
        font-size: 0.28rem;
        border-width: 0 0 1px 0;
        border-radius: 0;
        &:focus{
          border-color: #e5e5e5
        }
      }
    }
    select{
      height:29px;
      line-height: 29px
    }
    &.addon input{
      padding-right:100px;
    }
    .tips_info{
      @include position(10,auto,0,10)
      color: $light_black;
      span:last-child{
        font-size: 12px
      }
    }
    @media screen and (max-width: $mobile) {
      margin-bottom:0;
      &.disabled{
        background: #fff;
      }
      span.tips {
        display: none !important;
      }
    }
  }
// checkbox
  @mixin checkbox($w:16,$radius:50%){
    position: relative;
    vertical-align: middle;
    border: 1px solid $border;
    -webkit-transition: all 0.2s linear;
    width: #{$w}px;
    height: #{$w}px;
    border-radius: $radius;
    &:before{
      content: '';
      @include right
    }
    &:checked{
      background-color: $blue;
      border: solid 1px $blue;
    }
    &:disabled{
      background-color: $border;
      border: solid 1px $border;
    }
  }
// form
  @mixin form($type:h,$text:0){
    width:100%;
    .input{
      @include input
      @if $type == v {
        margin-bottom:35px;
        span.tips{
          top:56px;
          left:10px
        }
      }
      @if $text == 1 {
        span:nth-child(1),span:nth-child(2){
          display: none
        }
        input{
          padding-left:15px;
        }
        .count_btn.btn {
          top:0;
          right: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          bottom: 0;
        }
      }
    }
    label {
      display: block;
      margin-top: 10px;
      input {
        @include checkbox(18,0)
      }
      span {
        margin-left: 5px;
      }
    }
    button{
      width:100%;
      font-size: 18px;
      @include button($blue)
      line-height:2.6;
      margin-top: 20px;
    }
    .btn {
      display: none;
    }
    @media screen and (max-width: $mobile) {
      label {
        padding: 0 0.3rem;
      }
      button,.btn {
        line-height: 35px;
        width: calc(100% - 0.6rem);
        margin: 15px 0.3rem 0;
        font-size: 16px;
      }
      .btn {
        display: block;
        text-align: center;
        color: $light_black;
        border: 1px solid $border;
        font-size: 14px;
        border-radius: 5px;
      }
    }
  }
// detail_table
  @mixin detail{
    margin:30px 15px;
    font-size: 16px;
    @include row(2,0)
    border: 1px solid #d2e9ff;
    border-width: 1px 0 0 1px;
    .item{
      @include flex
      .item_title,.item_value{
        border: 1px solid #d2e9ff;
        border-width: 0 1px 1px 0;
        line-height: 40px;
        height: 40px;
        padding-left:40px;
        padding-right:10px;
      }
      .item_title{
        width:170px;
        background: #f0f7fd;
      }
      .item_value{
        width:calc(100% - 170px);
        span{
          float: right;
          font-size: 14px;
          color: $blue;
          cursor: pointer
        }
      }
    }
  }
// icon_close
  @mixin close{
    position: absolute;
    top:10px;
    right:10px;
    z-index: 10;
    @include block(20,50%)
    background: $white;
    cursor: pointer;
    &:before,&:after{
      @include position(10,3)
      display: inline-block;
      content:'';
      width:14px;
      height:1px;
      background:$text;
    }
    &:before{
      transform:rotate(45deg)
    }
    &:after{
      transform:rotate(-45deg)
    }
  }
// pager
  @mixin pager($color:$blue){
    @include flex(flex-end)
    padding-top:20px;
    span{
      text-align: center;
      border:1px solid #ececec;
      color: $light_black;
      cursor: pointer;
      user-select:none;
      @include block(28)
      &:not(:last-child){
        margin-right: 10px;
      }
      &.pager_item.active,&.pager_item:hover{
        background:$color;
        border:1px solid $color;
        color: $white
      }
      &.disabled{
        background: #ebebeb
      }
      &:first-child,&:last-child{
        width:auto;
        padding: 0 20px;
      }
    }
  }
// main_width
  @mixin main($w:$main_width){
    width:$w;
    margin: 0 auto;
    @media screen and (max-width: 1178px) and (min-width: 768px){
      width:100%;
      padding: 0 20px;
    }
    @media screen and (max-width: 768px){
      width:100%;
    }
  }
// detail_box
  @mixin detail_data{
    @include flex(space-between)
    .item{
      padding-left:30px;
      padding-right:30px;
      span{
        color:$light_black;
        &.currency{
          font-size: 24px;
          color:$text
        }
      }
    }
    .line{
      width:1px;
      height:40px;
      background: $border;
      &:last-child{
        display: none
      }
    }
  }
// detail_btn
  @mixin detail_btn{
    width:185px;
    a{
      display: block;
      border-radius:5px
    }
    button,a{
      text-align: center;
      width:100%;
      line-height: 2.5;
      & + button,& + a{
        margin-top:10px
      }
    }
  }
// table
  @mixin table($hover_color:#eee){
    width:100%;
    text-align: center;
    tbody tr{
      border-bottom:1px solid $border;
      &:hover {
        background: $hover_color;
      }
    }
  }
// data_table
  @mixin data_table {
    table{
      @include table(#f7f8fa)
      td{
        line-height: 55px;
        button,a {
          font-size: 12px;
          line-height: 28px;
          width: 80px;
        }
        button{
          @include button($blue)
          margin-right:5px;
          &:disabled{
            background: #759fe4;
            border-color:#759fe4;
          }
        }
        a {
          display: inline-block;
          @include button($blue,border)
          border-radius: 5px;
        }
      }
      thead{
        border-top:1px solid $border;
        background: #f7f8fa;
        tr{
          th{
            font-size: 12px;
            color: $light_text;
            line-height: 50px;
            font-weight: normal
          }
        }
      }
    }
    @include nodata
  }
// button_table
  @mixin button_table {
    @include data_table
    table tbody tr{
      &:hover td a{
        background: #327fff;
        color:white;
      }
    }
  }
// user_tab
  @mixin user_tab{
    nav {
      a{
        padding: 0 10px;
        display: inline-block;
        padding-bottom:10px;
        border-bottom: 3px solid transparent;
        color:#6b7d90;
        & + a{
          margin-left:30px
        }
        &:hover,&.active,&.nuxt-link-active{
          border-color:#7e92a8
        }
      }
    }
    border-bottom: 1px solid $border;
  }
// process
  @mixin process{
    padding:25px 30px;
    @include flex
    .item{
      &:not(:last-child){
        position: relative;
        width:calc(33% - 33px);
        .line{
          display: inline-block;
          margin:0 15px;
          width:calc(100% - 130px);
          height: 1px;
          background: $border;
          vertical-align: middle;
        }
      }
      color:$blue;
      i{
        position: relative;
        @include block(20,50%)
        border: 1px solid $blue;
        text-align: center;
        margin-right:5px;
        vertical-align: bottom;
        &:empty:before{
          content:'';
          @include right(8,5,$blue)
        }
      }
      &.active{
        i{
          background: $blue;
          color:$white
        }
        span{
          font-weight: bold;
        }
        & ~ .item{
          i{
            border-color: $border;
            color:#ccc
          }
          span{
            color:$light_black
          }
        }
      }
    }
  }
// select
  @mixin select_list{
    @include flex
    .text_title{
      font-size: 18px;
      padding-right:35px
    }
    .title_content{
      position: relative;
      width:70px;
      border:1px solid $border;
      border-radius:3px;
      padding: 0 10px;
      .title_now{
        font-weight: bold;
        height: 27px;
        line-height: 27px;
        color:$text;
        cursor: pointer;
        &:after{
          content:'';
          @include position(8,auto,auto,5)
          @include block(7)
          @include arrow(down,$light_black)
        }
      }
      .title_list{
        position:absolute;
        top:27px;
        left:-1px;
        right:-1px;
        z-index: 2;
        background: #fff;
        border:1px solid $border;
        border-top:0;
        display: none;
        a{
          display: block;
          line-height: 2;
          padding: 0 10px;
          &:hover{
            background: #eee
          }
        }
      }
      &:hover{
        .title_list{
          display: block
        }
      }
    }
  }
// nodata
  @mixin nodata{
    .nodata{
      text-align: center;
      min-height:300px;
      margin-top:20px;
      .nodata_img{
        display: inline-block;
        width: 234px;
        height: 215px;
        background: url('~assets/images/css_sprites.png') -335px -10px;
      }
      p{
        color:$light_black;
        margin-top:15px
      }
    }
  }
// mobile hide
  @mixin mobile_hide{
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
// mobile show
  @mixin mobile_show{
    display: none;
    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
// address_data
  @mixin address_data{
    margin:20px 0 40px 0;
    overflow: hidden;
    color:$light_text;
    .item{
      position: relative;
      border: 1px solid transparent;
      padding: 0 25px;
      background: #EFF6FE;
      cursor: pointer;
      padding-left:90px;
      padding-right:80px;
      & + .item{
        margin-top:10px;
      }
      @include flex(space-between)
      span{
        padding: 10px 0;
      }
      &.active{
        border-color:$blue;
        span:first-child:before{
          content:'\e641';
        }
        span:first-child:after{
          content:'寄送至';
        }
      }
      span:first-child:before,span:first-child:after{
        @include position(10,35,auto,auto)
        color:$blue
      }
      span:first-child:before{
        font-family:"iconfont" !important;
        left:15px;
        font-size: 18px;
      }
      .set_default{
        color:$blue;
        cursor: pointer;
      }
    }
    .address_btn{
      display: inline-block;
      border:1px solid $border;
      padding:3px 10px;
      margin-top:15px;
      margin-left:90px;
      cursor: pointer;
      color:$text;
      background: linear-gradient(to bottom, #F9F9F9 20%, #D9D9D9);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#D9D9D9',GradientType=0 );
      &:before{
        content:'+';
        color:#00BDB6;
        margin-right:3px;
        font-weight: bold;
      }
    }
  }
// mobile_footer_btn
  @mixin mobile_footer_btn{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    border-top:1px solid $border;
    padding:9px 15px;
    background: #fff;
    z-index: 999;
    button {
      width:100%;
      border:0;
      background-color: $blue;
      color:#fff;
      font-size: 16px;
      line-height: 2.4;
      &:disabled{
        // opacity: 0.7;
        background: #b5b0af;
      }
      & + button{
        margin-top:10px;
      }
    }
  }
// cloud_miner_box
  @mixin cloud_miner_box{
    h3{
      font-size: 18px;
      margin-bottom:10px;
      .icon_currency{
        margin-left:5px;
      }
      .sell_type{
        font-size: 12px;
        margin-left:8px;
        width:58px;
        height: 18px;
        text-align: center;
        border-radius:18px;
        line-height:15px;
        color:#ff721f;
        display: inline-block;
        border:1px solid #ff721f;
        position: relative;
        top: -4px;
        &.gray{
          border:1px solid #999;
          color: #999;
          background: none;
        }
        &.active{
          border-color:$blue;
          color:$blue;
        }
      }
    }
    &:not(:last-child){
      margin-bottom:10px;
    }
  }
// pay_type
  @mixin pay_type{
    padding:15px 20px;
    margin:10px 15px;
    @include flex(space-between);
    color: $light_black;
    .pay_value{
      input{
        @include checkbox(18)
        margin-right:5px;
        vertical-align: text-top;
      }
      span{
        line-height: 25px;
        height:25px;
        &:before{
          font-family:"iconfont" !important;
          font-size: 20px;
          line-height: 25px;
          position: relative;
          vertical-align: sub;
        }
        &.yue:before{
          content:'\e60c'
        }
        &.zhifubao:before{
          content:'\e615';
          color:#00AAF0
        }
      }
    }
    .pay_info{
      .money{
        color:$orange;
        font-weight: bold;
      }
    }
    a{
      color: #327fff;
    }
    &.active{
      outline:5px solid $blue_border
    }
  }
// mobile_pay_type
  @mixin mobile_pay_type{
    color: $text;
    padding-bottom:32px;
    .pay_item{
      margin:0 15px;
      line-height: 50px;
      position: relative;
      span{
        .val{
          color:$light_text;
          margin-left:15px;
        }
        &.zhifubao:before,&.yue:before{
          font-family:"iconfont" !important;
          font-size: 20px;
          line-height: 25px;
          vertical-align: sub;
          margin-right:5px;
        }
        &.yue:before{
          content:'\e60c'
        }
        &.zhifubao:before{
          content:'\e615';
          color:#00AAF0
        }
      }
      a{
        color:$blue;
        margin-left: 20px;
      }
      &.active:after{
        position: absolute;
        content:'\e613';
        font-family: 'iconfont';
        color:$blue;
        right: 0;
      }
      &:not(:last-child){
        border-bottom:1px solid $border;
      }
    }
  }
