// 常量
  // 长度
    $main_width:1180px;
    $mobile:768px;
  // 颜色
    $white:#fff;
    $light_white:#cbcbcb;
    $dark_white:#f9f9f9;
    $text:#333;
    $light_text:#666;
    $light_black:#999;
    $black:#444;
    $border:#e5e5e5;
    $blue:#327FFF;
    $light_blue:#75b7f3;
    $blue_border:#b1c4e5;
    $red:#ea2c2c;
    $light_red:#e65c65;
    $orange:#FE5038;
    $green:#5cbe53;
    $green_border:#c2ee93;
    $green_bg:#f1ffe2;
    $fail:#f1624b;
    $fail_border:#fec6ad;
    $fail_bg:#ffedda;
    $purple: #A53ECB;
// 内外边距
  @mixin gap($value:5,$item:all,$type:padding) {
    @if $item == all {
      #{$type}: #{$value}px;
    } @else if $item == h {
      #{$type}-left: #{$value}px;
      #{$type}-right: #{$value}px;
    } @else if $item == v {
      #{$type}-top: #{$value}px;
      #{$type}-bottom: #{$value}px;
    } @else {
      #{$type}-#{$item}: #{$value}px;
    }
  }
// 进度条(横向或圆形)
  // *$type:1=>'横向';2=>'圆形',noColor=>'初始颜色', yesColor=>'过去的颜色'*
  @mixin progress($type:2, $height: 5, $noColor: #ccc, $yesColor: #ffb386, $width:76, $top: 0.5, $right: 1, $paddingTop: 6, $border: 20) {
    @if ($type == 2) {
      .wrap,.circle,.percent{  
        position: absolute;  
        width: #{$width}px;  
        height: #{$width}px;  
        border-radius: 50%;  
      }  
      .wrap{  
        top: #{$top}rem;  
        right: #{$right}rem;
        background-color: #ffb386;  
      }  
      .circle{  
        box-sizing: border-box;  
        border:#{$border}px solid #ffb386;  
        clip:rect(0,#{$width}px,#{$width}px,#{$width / 2}px);  
      }  
      .clip-auto{  
        clip:rect(auto, auto, auto, auto);  
      }  
      .percent{  
        box-sizing: border-box;  
        top:-#{$border}px;  
        left:-#{$border}px;  
      }  
      .left11{  
        transition:transform ease;  
        border:#{$border}px solid #ccc;  
        clip: rect(0,38px,#{$width}px,0);  
      }  
      .right11{  
        border:#{$border}px solid #ccc;  
        clip: rect(0,#{$width}px,#{$width}px,#{$width / 2}px);  
      }  
      .wth0{  
        width:0;  
      }  
      .num{  
        position: absolute;
        box-sizing: border-box;
        width: #{$width - 10}px;
        height: #{$width - 10}px;
        line-height: #{$width - 10}px;
        text-align: center;
        font-size: 14px;
        left: 5px;
        top: 5px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 1;
      }
    } @else {
      .progress_info1{
        position: relative;
        padding:#{$paddingTop}px 0;
        .progress_box1{
          position: relative;
          overflow:hidden;
          border-radius:#{$height}px;
          height:#{$height}px;
          background: $border;
          .box1{
            @include position;
            background: linear-gradient(to right, $noColor 20%, $yesColor);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$noColor', endColorstr='$yesColor',GradientType=1 );
          }
        }
      }
    }
  }
// flex
  @mixin flex($h:flex-start,$v:center,$direction:row,$wrap:nowrap) {
    display: flex;
    justify-content: $h;
    align-items: $v;
    flex-direction: $direction;
    flex-wrap: $wrap;
    @if ($h == space-between) {
      text-align: justify;
      text-align-last:justify;
      & > *{
        text-align: left;
        text-align-last:auto
      }
    }
    & > *{
      display: inline-block;
      vertical-align:middle;
    }
    & *{
      // text-align: auto;
      // text-align-last:auto
    }
  }
// 全部
  @mixin all($w:100%,$h:100%){
    width: $w;
    height: $h;
  }
// pos_value
  @mixin position($top:0,$left:0,$bottom:0,$right:0) {
    position: absolute;
    top: #{$top}px;
    right: #{$right}px;
    bottom: #{$bottom}px;
    left: #{$left}px;
  }
// center
  @mixin center($value:auto) {
    @if $value == auto {
      margin-left: auto;
      margin-right: auto;
    } @else {
      vertical-align: $value;
    }
  }
// block
  @mixin block($value:20,$radius:0) {
    display: inline-block;
    width: #{$value}px;
    height: #{$value}px;
    line-height: #{$value}px;
    border-radius: $radius
  }
// linear_background
  // @mixin linear_background($color1,$color12$r:h){
  //   @if $r == h {
  //     background: linear-gradient(to right, $color1 20%, $color2);
  //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=1 );
  //   } @else {
  //     background: linear-gradient(to bottom, $color1 20%, $color2);
  //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=0 );
  //   }
  // }
// 省略
  @mixin ellipsis($line:0) {
    @if $line != 0 {
      display: -webkit-box;
      -webkit-line-clamp: $line;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      overflow: hidden;
    } @else {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
// 图片自适应
  @mixin fitimg($w:70,$h:70,$v:middle,$type:cover) {
    width: #{$w}px;
    height: #{$h}px;
    img{
      width: 100%;
      height: 100%;
      object-fit: $type
    }
  }
// 边框
  @mixin border($type:bottom,$color:$border,$value:1) {
    position: absolute;
    background-color: #{$color};
    content: '';
    #{$type}: 0;
    @if $type == 'left' or $type == 'right'{
      top: 0;
      width: #{$value}px;
      height: 100%;
    } @else {
      left: 0;
      width: 100%;
      height: #{$value}px;
    }
    z-index: -1;
  }
// 三角形
  @mixin triangle($type:right,$color:#dbdee5,$value:10) {
    display: inline-block;
    width: 0;
    height: 0;
    @if $type == 'right' or $type == 'left'{
      border-top: #{$value/1.8}px solid transparent;
      border-bottom: #{$value/1.8}px solid transparent;
      @if $type == 'right'{
        border-left: #{$value}px solid $color;
      } @else if $type == 'left'{
        border-right: #{$value}px solid $color;
      }
    } @else if $type == 'top' or $type == 'bottom'{
      border-left: #{$value/1.8}px solid transparent;
      border-right: #{$value/1.8}px solid transparent;
      @if $type == 'top'{
        border-bottom: #{$value}px solid $color;
      } @else if $type == 'bottom'{
        border-top: #{$value}px solid $color;
      }
    }
  }
// 箭头
  @mixin arrow($type:right,$color:#dbdee5,$value:2) {
    border: #{$value}px solid $color;
    border-top: none;
    border-right: none;
    @if $type == 'left'{
      transform: rotate(45deg);
    } @else if $type == 'right'{
      transform: rotate(-135deg);
    } @else if $type == 'up'{
      transform: rotate(135deg);
    } @else if $type == 'down'{
      transform: rotate(-45deg);
    }
  }
// 块状排列
  @mixin row($v:3,$gap:2%){
    display: flex;
    flex-wrap: wrap;
    .item{
      width: 100%/$v - ($gap * ($v - 1) / $v);
      &:not(:nth-child(#{$v}n)){
        margin-right: $gap;
      }
      display: inline-block;
      vertical-align:middle;
    }
  }
// 宽度
  @function leave($value){
    @return calc(100% - #{$value}px)
  }
// 对号
  @mixin right($w:8,$h:5,$color:$white){
    position: absolute;
    width: #{$w}px;
    height: #{$h}px;
    top: calc(50% - #{$h/2 + 2}px);
    left: calc(50% - #{$w/2}px);
    border: solid $color;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg)
  }
// bg
  @mixin bg($w:1920,$h:580px,$color:$white){
    position: relative;
    overflow: hidden;
    background: $color;
    padding-top:$h;
    .bg,img{
      position: absolute;
      top: 0;
      left: calc(50% - #{$w/2}px);
      width: #{$w}px;
      height: $h
    }
  }
// button
  @mixin button($color:$blue,$type:bg,$color2:$white){
    border:1px solid $color;
    @if $type == border {
      color:$color
    } @else {
      background: $color;
      color:$color2
    }
  }
// input
  @mixin input{
    position:relative;
    font-size: 16px;
    margin-bottom:30px;
    line-height:2;
    &.disabled{
      background: #f7f8fa;
      & > span:nth-child(2){
        color: #ddd
      }
    }
    & > span{
      @include position(9,0,5,0)
      right:auto;
      &:first-child{
        width:70px;
        left:20px;
        @include mobile_hide
      }
      &:nth-child(2){
        top:10px;
        bottom:10px;
        left:90px;
        @include gap(15,h)
        color:$red;
        border-right:1px solid $border;
        @include mobile_hide
      }
      &.tips{
        &:before{
          @include position(2,0,auto,auto)
          @include block(20)
          background: #e65c65;
          color: $white;
          text-align: center;
          font-size: 16px;
          border-radius:5px;
          content:'!'
        }
        padding-left:25px;
        font-size: 12px;
        color:$red;
        top:13px;
        left:110%;
        width:300px;
        &:after{
          content:attr(tips)
        }
        @include mobile_hide
      }
    }
    .password_level{
      @include position(9,0,5,auto)
      left:104%;
      @include flex
      display: none;
      .item{
        width:80px;
        height:15px;
        background: $border;
        & + .item{
          margin-left:2px;
        }
      }
      &:before,&:after{
        font-size: 12px;
      }
      &:before{
        content:'密码强度';
        width:52px;
      }
      &:after{
        margin-left:3px;
      }
      @include mobile_hide
    }
    input.level ~ .password_level{
      display: flex
    }
    input.level1 ~ .password_level{
      .item:first-child{
        background: #FF5F2D;
      }
      &:after{
        content:'低'
      }
    }
    input.level2 ~ .password_level{
      .item:first-child,.item:nth-child(2){
        background: #FFA31E;
      }
      &:after{
        content:'中'
      }
    }
    input.level3 ~ .password_level{
      .item{
        background: #8DC420;
      }
      &:after{
        content:'高'
      }
    }
    input,.sel,.select{
      height:50px;
      line-height:32px;
      border: 1px solid $blue_border;
      border-radius: 5px;
      width:100%;
      padding:8px;
      padding-left:140px;
      font-size: 16px;
      &:focus{
        border-color:$blue
      }
      &,&[data-status='valid']{
        & ~ span.tips{
          display:none
        }
      }
      &[data-status='invalid'],&[data-status='null'],&[data-status='error'],&[data-status='success']{
        border-color:$red;
        & ~ span.tips{
          display:block
        }
      }
      &[data-status='success']{
        border-color:$blue_border;
      }
      &[data-status='error']{
        & ~ span.tips{
          &:after{
            content:attr(error)
          }
        }
      }
      &[data-status='invalid']{
        & ~ span{
          &:after{
            content:attr(title)
          }
        }
      }
      &[data-status='success']{
        & ~ span{
          color:green;
          &:before{
            background:green;
            content:'\2713'
          }
          &:after{
            content:attr(success)
          }
        }
      }
      @media screen and (max-width: $mobile) {
        padding-left:10px;
        border-color:$border;
        line-height: 25px;
        height:43px;
        font-size: 0.5rem;
        &[data-status='invalid'],&[data-status='null'],&[data-status='error'],&[data-status='success']{
          & ~ span.tips{
            display:none
          }
        }
      }
    }
    .select{
      @include flex(space-between)
      select{
        width:33%;
        height:32px;
        line-height: 32px;
        border:none;
      }
    }
    select{
      height:29px;
      line-height: 29px
    }
    canvas,.btn{
      @include position(5,auto,5,5)
      width:90px;
      cursor: pointer;
      @media screen and (max-width: $mobile) {
        height:34px;
        line-height: 34px
      }
    }
    .btn{
      text-align: center;
      @include button($blue)
      font-size: 14px;
      line-height: 38px;
      @media screen and (max-width: $mobile) {
        // background: #ececec;
        // border-color:#ececec;
        // color:$light_text;
        line-height: 34px
      }
    }
    &.addon{
      input{
        padding-right:100px;
      }
    }
    .tips_info{
      @include position(10,auto,0,10)
      color: $light_black;
      span:last-child{
        font-size: 12px
      }
    }
  }
// checkbox
  @mixin checkbox($w:16,$radius:50%){
    position: relative;
    vertical-align: middle;
    border: 1px solid $border;
    -webkit-transition: all 0.2s linear;
    width: #{$w}px;
    height: #{$w}px;
    border-radius: $radius;
    &:before{
      content: '';
      @include right
    }
    &:checked{
      background-color: $blue;
      border: solid 1px $blue;
    }
    &:disabled{
      background-color: $border;
      border: solid 1px $border;
    }
  }
// form
  @mixin form($type:h,$text:0){
    width:100%;
    h2{
      font-size: 24px;
      text-align:center;
      color:$blue;
      @include gap(35,v,margin)
    }
    .input{
      @include input
      @if $type == v {
        margin-bottom:35px;
        & > span:last-child{
          top:56px;
          left:10px
        }
      }
      @if $text == 1 {
        & > span:nth-child(1),& > span:nth-child(2){
          display: none
        }
        input{
          padding-left:15px;
        }
        .count_btn.btn {
          top:0;
          right: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          bottom: 0;
        }
      }
      @media screen and (max-width: $mobile) {
        margin-bottom:15px;
      }
    }
    label input{
      @include checkbox(18,0)
    }
    button{
      width:100%;
      font-size: 18px;
      @include button($blue)
      line-height:2.6;
      @include gap(20,v,margin)
    }
  }
// good_table
  @mixin table{
    width:100%;
    tr{
      th{
        font-size: 16px;
      }
      td{
        line-height: 2.75;
        color: $light_text;
        &:nth-child(1){
          color: $active
        }
        &:nth-child(6){
          color: $red
        }
        a{
          display: inline-block;
          @include gap(10,h)
          line-height: 2
        }
      }
      &:hover td:last-child a{
        background:$red;
        color: $white;
        border-radius:15px;
      }
    }
  }
// detail_table
  @mixin detail{
    margin:30px 15px;
    font-size: 16px;
    @include row(2,0)
    border: 1px solid #d2e9ff;
    border-width: 1px 0 0 1px;
    .item{
      @include flex
      .item_title,.item_value{
        border: 1px solid #d2e9ff;
        border-width: 0 1px 1px 0;
        line-height: 40px;
        height: 40px;
        padding-left:40px;
        padding-right:10px;
      }
      .item_title{
        width:170px;
        background: #f0f7fd;
      }
      .item_value{
        width:leave(170);
        span{
          float: right;
          font-size: 14px;
          color: $blue;
          cursor: pointer
        }
      }
    }
  }
// icon_close
  @mixin close{
    position: absolute;
    top:10px;
    right:10px;
    z-index: 10;
    @include block(20,50%)
    background: $white;
    cursor: pointer;
    &:before,&:after{
      @include position(10,3)
      display: inline-block;
      content:'';
      width:14px;
      height:1px;
      background:$text;
    }
    &:before{
      transform:rotate(45deg)
    }
    &:after{
      transform:rotate(-45deg)
    }
  }
// mask
  @mixin mask{
    @include position
    background: rgba(0,0,0,.5);
    z-index: 10;
    .form_box{
      position: absolute;
      top:50%;
      left:50%;
      width:680px;
      margin-left:-340px;
      margin-top:-323px;
      background: $white;
      .close{
        @include close
      }
      h2{
        text-align: center;
        background: #f3f9ff;
      }
    }
  }
// menu
  @mixin menu{
    &:not(.address_item){
      @include flex(space-between)
      padding:15px;
      border:1px solid #e5e5e5;
    }
    &.success{
      .icon{
        position: relative;
        background: $green;
        &:before{
          content:'';
          @include right
        }
      }
      .con_title{
        color: $green;
      }
    }
    &.fail{
      .icon{
        text-align: center;
        background: $fail;
        color: $white;
        &:before{
          content:'!'
        }
      }
      .con_title{
        color: $fail;
      }
    }
    &:not(:last-child){
      margin-bottom:25px;
    }
    &.address_item{
      .item:not(:last-child){
        margin-bottom: 0;
        border-bottom:0
      }
      .item:not(:first-child){
        .val{
          text-align: left;
          padding-left:19%;
          width:80%
        }
      }
    }
    .icon{
      @include block(18,50%)
    }
    .con_title{
      width: 13%;
      font-size: 16px;
      font-weight: bold;
    }
    .desc{
      width:38%;
    }
    .val{
      width: 22%;
      color: $light_text;
      text-align: center;
      span{
        color: $text;
      }
    }
    .opr{
      width: 17%;
      text-align: right;
      color: $blue;
      cursor: pointer;
    }
  }
// navigator
  @mixin navigator{
    @include gap(15,top)
    a{
      color:$text
    }
    span:nth-child(2n){
      display: inline-block;
      @include block(5)
      color: $light_text;
      vertical-align: middle;
      @include gap(10,h,margin)
      @include arrow(right,#CBCBCB,1)
    }
    span:last-child{
      color:$light_text
    }
  }
// pager
  @mixin pager($color:$blue){
    @include flex(flex-end)
    // border-top:1px solid #bfbfbf;
    padding-top:20px;
    span{
      text-align: center;
      border:1px solid #ececec;
      color: $light_black;
      cursor: pointer;
      user-select:none;
      @include block(28)
      &:not(:last-child){
        @include gap(10,right,margin)
      }
      &.pager_item.active,&.pager_item:hover{
        background:$color;
        border:1px solid $color;
        color: $white
      }
      &.disabled{
        background: #ebebeb
      }
      &:first-child,&:last-child{
        width:auto;
        @include gap(20,h)
      }
    }
  }
// item
  @mixin item($value:10,$type:solid){
    &:not(:first-child){
      @include gap($value,top)
    }
    &:not(:last-child){
      @include gap($value,bottom)
      border-bottom: 1px $type $border
    }
  }
// btn_block
  @mixin btnBlock{
    width:100%;
    color: $white;
    background: $active;
    font-size: 16px;
    @include gap(10,v)
    @include gap(15,v,margin)
  }
// title
  @mixin title{
    h1{
      position:relative;
      font-size: 22px;
      margin-bottom: 15px;
      padding-left: 15px;
      &:before{
        @include position
        content:'';
        top:8px;
        width:4px;
        height: 20px;
        background:$active
      }
    }
  }
// main_width
  @mixin main($w:$main_width){
    width:$w;
    @include center
    @media screen and (max-width: 1178px) and (min-width: 768px){
      width:100%;
      @include gap(20,h)
    }
    @media screen and (max-width: 768px){
      width:100%;
    }
  }
// table
  @mixin table{
    width:100%;
    text-align: center;
    th{
      font-weight: normal
    }
  }
// detail_box
  @mixin detail_data{
    @include flex(space-between)
    .item{
      padding-left:30px;
      padding-right:30px;
      span{
        color:$light_black;
        &.currency{
          font-size: 24px;
          color:$text
        }
      }
    }
    .line{
      width:1px;
      height:40px;
      background: $border;
      &:last-child{
        display: none
      }
    }
  }
// detail_btn
  @mixin detail_btn{
    width:185px;
    a{
      display: block;
      border-radius:5px
    }
    button,a{
      text-align: center;
      width:100%;
      line-height: 2.5;
      & + button,& + a{
        margin-top:10px
      }
    }
  }
// data_table
  @mixin data_table{
    .sort{
      background: #f5f8ff;
      margin-bottom:10px;
      @include gap(15,h)
      border:0;
      .item{
        background: #f5f8ff;
        line-height: 30px;
      }
    }
    table{
      @include table
      td{
        line-height: 55px;
      }
      thead{
        tr{
          background: #f7f8fa;
          border-top:1px solid $border;
          th{
            font-size: 12px;
            color: $light_text;
            line-height: 48px;
          }
        }
      }
      tbody{
        tr{
          border-bottom:1px solid $border;
          &:hover{
            background: #f7f8fa;
          }
        }
      }
    }
    @include nodata
  }
// process
  @mixin process{
    padding:25px 30px;
    @include flex
    .item{
      &:not(:last-child){
        position: relative;
        width:calc(33% - 33px);
        .line{
          display: inline-block;
          margin:0 15px;
          width:calc(100% - 130px);
          height: 1px;
          background: $border;
          vertical-align: middle;
        }
      }
      color:$blue;
      i{
        position: relative;
        @include block(20,50%)
        border: 1px solid $blue;
        text-align: center;
        margin-right:5px;
        vertical-align: bottom;
        &:empty:before{
          content:'';
          @include right(8,5,$blue)
        }
      }
      &.active{
        i{
          background: $blue;
          color:$white
        }
        span{
          font-weight: bold;
        }
        & ~ .item{
          i{
            border-color: $border;
            color:#ccc
          }
          span{
            color:$light_black
          }
        }
      }
    }
  }
// select
  @mixin select_list{
    @include flex
    .text_title{
      font-size: 18px;
      padding-right:35px
    }
    .title_content{
      position: relative;
      width:80px;
      border:1px solid $border;
      border-radius:3px;
      @include gap(10,h)
      .title_now{
        font-weight: bold;
        height: 27px;
        line-height: 27px;
        color:$text;
        cursor: pointer;
        &:after{
          content:'';
          @include position(8,auto,auto,5)
          @include block(7)
          @include arrow(down,$light_black)
        }
      }
      .title_list{
        position:absolute;
        top:27px;
        left:-1px;
        right:-1px;
        z-index: 2;
        background: #fff;
        border:1px solid $border;
        border-top:0;
        display: none;
        a{
          display: block;
          line-height: 2;
          @include gap(10,h)
          &:hover{
            background: #eee
          }
        }
      }
      &:hover{
        .title_list{
          display: block
        }
      }
    }
  }
// nodata
  @mixin nodata{
    .nodata{
      text-align: center;
      min-height:300px;
      margin-top:20px;
      .nodata_img{
        display: inline-block;
        width: 234px;
        height: 215px;
        background: url('~assets/images/css_sprites.png') -335px -10px;
      }
      p{
        color:$light_black;
        margin-top:15px
      }
    }
  }
// article
  @mixin article{
    @include main
    background: $white;
    border-radius:5px;
    min-height:800px;
    h2{
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding:18px 0;
      border-bottom:1px solid $border
    }
    .box_content{
      padding:40px 90px;
      font-size: 16px;
      h3{
        font-weight: bold;
        margin-bottom:20px;
      }
      h4{
        margin-bottom:30px;
      }
      p{
        margin-bottom:20px;
        line-height: 2;
        text-indent: 2em;
        &.b{
          font-weight: bold;
        }
      }
      .btn{
        text-align: center;
        button,a{
          padding:10px 50px;
          @include button($blue)
          font-size: 16px;
          border-radius:5px
        }
      }
    }
  }
// number_input
  @mixin number_box{
    @include flex(space-between)
    span{
      width:10%;
      text-align: center;
      background: $border;
      font-size: 18px;
      font-weight: bold;
      color: #c5c5c5;
      cursor: pointer;
      user-select:none;
      &:last-child{
        color: $orange;
      }
    }
    input{
      width:75%
    }
  }
// accept_label
  @mixin accept_label{
    color: #666;
    input{
      @include checkbox(18,5px)
      &:checked{
        background: $orange;
        border-color: $orange;
      }
      & ~ span.select_accept{
        opacity: 0;
        color: #ff721f;
        font-size: 12px;
      }
      &[data-status='invalid'] ~ span.select_accept{
        opacity: 1;
      }
    }
  }
// mobile hide
  @mixin mobile_hide{
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
// mobile show
  @mixin mobile_show{
    display: none;
    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
// data_title
  @mixin data_title{
    @include flex(space-between)
    @include gap(15,v,margin);
    @include main
    position: relative;
    span:nth-child(1){
      font-size: 24px;
      font-weight: bold;
    }
    span:nth-child(2){
      width:452px;
      height:27px;
      margin-left:20px;
      font-size: 14px;
      background: linear-gradient(to right, #b28850, #cfa972);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b28850', endColorstr='#cfa972',GradientType=1 );
      color:$white;
      padding:3px 10px
    }
    a{
      font-size: 16px;
      color:#999;
      &:hover{
        color:$blue
      }
    }
  }
// address_data
  @mixin address_data{
    margin:20px 0 40px 0;
    overflow: hidden;
    color:$light_text;
    .item{
      position: relative;
      border: 1px solid transparent;
      padding: 0 25px;
      background: #EFF6FE;
      cursor: pointer;
      padding-left:90px;
      padding-right:80px;
      & + .item{
        margin-top:10px;
      }
      @include flex(space-between)
      span{
        padding: 10px 0;
      }
      &.active{
        border-color:$blue;
        span:first-child:before{
          content:'\e641';
        }
        span:first-child:after{
          content:'寄送至';
        }
      }
      span:first-child:before,span:first-child:after{
        @include position(10,35,auto,auto)
        color:$blue
      }
      span:first-child:before{
        font-family:"iconfont" !important;
        left:15px;
        font-size: 18px;
      }
      .set_default{
        color:$blue;
        cursor: pointer;
      }
    }
    .address_btn{
      display: inline-block;
      border:1px solid $border;
      padding:3px 10px;
      margin-top:15px;
      margin-left:90px;
      cursor: pointer;
      color:$text;
      background: linear-gradient(to bottom, #F9F9F9 20%, #D9D9D9);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#D9D9D9',GradientType=0 );
      &:before{
        content:'+';
        color:#00BDB6;
        margin-right:3px;
        font-weight: bold;
      }
    }
  }
// process_color
  @mixin process_color{
    background: linear-gradient(to right, #337eff 20%, #c72abc);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337eff', endColorstr='#c72abc',GradientType=1 );
  }
// mobile_footer_btn
  @mixin mobile_footer_btn{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    border-top:1px solid $border;
    padding:9px 15px;
    background: #fff;
    z-index: 999;
    button {
      width:100%;
      border:0;
      background-color: $orange;
      color:#fff;
      line-height: 3;
      &:disabled{
        // opacity: 0.7;
        background: #b5b0af;
      }
      & + button{
        margin-top:10px;
      }
    }
  }
// cloud_miner_box
  @mixin cloud_miner_box{
    h3{
      font-size: 18px;
      margin-bottom:10px;
      .icon_currency{
        margin-left:5px;
      }
      .sell_type{
        font-size: 12px;
        margin-left:8px;
        width:58px;
        height: 18px;
        text-align: center;
        border-radius:18px;
        line-height:15px;
        color:#ff721f;
        display: inline-block;
        border:1px solid #ff721f;
        position: relative;
        top: -4px;
        &.gray{
          border:1px solid #999;
          color: #999;
          background: none;
        }
        &.active{
          border-color:$blue;
          color:$blue;
        }
      }
    }
    &:not(:last-child){
      margin-bottom:10px;
    }
  }
// pay_type
  @mixin pay_type{
    padding:15px 20px;
    margin:10px 15px;
    @include flex(space-between);
    color: $light_black;
    .pay_value{
      input{
        @include checkbox(18)
        margin-right:5px;
        vertical-align: text-top;
      }
      span{
        line-height: 25px;
        height:25px;
        &:before{
          font-family:"iconfont" !important;
          font-size: 20px;
          line-height: 25px;
          position: relative;
          vertical-align: sub;
        }
        &.yue:before{
          content:'\e60c'
        }
        &.zhifubao:before{
          content:'\e615';
          color:#00AAF0
        }
      }
    }
    .pay_info{
      .money{
        color:$orange;
        font-weight: bold;
      }
    }
    a{
      color: #327fff;
    }
    &.active{
      outline:5px solid $blue_border
    }
  }
// mobile_pay_type
  @mixin mobile_pay_type{
    color: $text;
    padding-bottom:32px;
    .pay_item{
      padding:0 15px;
      @include flex(space-between)
      line-height: 50px;
      span.val{
        color:$light_text;
        margin-left:15px;
      }
      a{
        color:$blue
      }
      &.active{
        position: relative;
        .pay_item_left{
          width:80%;
          &:after{
            content:'\e613';
            font-family: 'iconfont';
            color:$blue;
            margin-left:3rem
          }
        }
      }
      &:not(:last-child){
        border-bottom:1px solid $border;
      }
    }
  }
